<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historialDeCredito">
            <h2><span jhiTranslate="creditoApp.historialDeCredito.detail.title">Historial De Credito</span> {{historialDeCredito.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="creditoApp.historialDeCredito.fecha">Fecha</span></dt>
                <dd>
                    <span>{{historialDeCredito.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="creditoApp.historialDeCredito.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="historialDeCredito.clienteId">
                        <a [routerLink]="['/cliente', historialDeCredito.clienteId, 'view']">{{historialDeCredito.clienteId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="creditoApp.historialDeCredito.factura">Factura</span></dt>
                <dd>
                    <div *ngIf="historialDeCredito.facturaId">
                        <a [routerLink]="['/factura', historialDeCredito.facturaId, 'view']">{{historialDeCredito.facturaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="creditoApp.historialDeCredito.abono">Abono</span></dt>
                <dd>
                    <div *ngIf="historialDeCredito.abonoId">
                        <a [routerLink]="['/abono', historialDeCredito.abonoId, 'view']">{{historialDeCredito.abonoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historial-de-credito', historialDeCredito.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
